<div id="contact">
	<footer class="ftco-footer ftco-section img">
	<div class="overlay"></div>
		<div class="container">
				<div class="row mb-5">
					<div class="col-md-2" id="ftco-nav">
				<div class="ftco-footer-widget mb-4 ml-md-4">
					<h2 class="ftco-heading-2">Меню</h2>
					<ul class="list-unstyled">
						<li><a href="index.html" class="nav-link">Главная</a></li>
						<li><a href="#about" class="nav-link">О нас</a></li>
						<li><a href="#services" class="nav-link">Услуги</a></li>
						<li><a href="#gallery" class="nav-link">Галерея</a></li>
              		</ul>
				</div>
			</div>
					<div class="col-md-3">
            			<div class="ftco-footer-widget mb-4">
            				<h2 class="ftco-heading-2">Контакты</h2>
            				<div class="block-23 mb-3">
								<ul>
						<li><span class="icon icon-map-marker"></span><span class="text">ул. Фёдора Абрамова, 23 корпус 1 Санкт-Петербург, Россия, 194362</span></li>
						<li><a href="tel:+79522091687"><span class="icon icon-phone"></span><span class="text">+7(952)-209-1687</span></a></li>
						<li><a href="#"><span class="icon icon-envelope"></span><span class="text">kto_tvoi_master</span></a></li>
					</ul>
	            			</div>
            			</div>
          			</div>
        		</div>
      		</div>
	</footer>
</div>